<div id="react-root" style="height: 100%; display:flex;">
  <div class="top text-center">
    <h1>
      <i class="fas fa-clipboard-list"></i>
      <strong class="btn btn-outline-warning"> MyTaskControl</strong>
    </h1>
    <h3>For those of you who are not good at task management...</h3>
    <h3>Enjoy task management!</h3>
    <h3>Let's try it together!</h3>
  </div>
</div>